/*alt + Z pour aller a la ligne */
/* regle pour tout le doc */
/* ordre de ecriture des lignes: le h1, import url, import font-face, le body, */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display/wgt@500&display=swap'); /* c'est la police pour le h1 */

@font-face {
    font-family: "font-1"; /* appelée font-1 car si elle ne plait pas, on ;;*/
    src: url(./assets/NotoSansJP-Medium.otf);
}

body {
    background-color: rgb(248, 231, 202);
}

h1 {
    text-transform: uppercase; /* on écrit le h1 en majuscules */
    letter-spacing: 2px;
    font-size: 2.5rem;  /* h1 a 2rem en taille de base, pour le texte on met du rem, 1rem= 16px*/
    color: darkblue;   /* change la couleur  du texte */
    text-shadow: 5px 3px 0 #85dadab6; /* mettre une ombre au texte, x=5px, y=0, blur= 0*/
    text-align: center;
    font-family: "Playfair Display", serif;
}


body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
        margin: 0;
        padding: 0;
}

li {
        list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px; /* il n'y a rien audessus d'eux de 30 px */
    font-size: 2em; 
}

a {  /* tout ce qui est lien */
    text-decoration: none;
    color: black;
}
/*jusque la que des instructions générales */

/* maintenant des instructions en détalis, à commencer par la nav barre de navigation , s'il y en a */
header nav {
    overflow: hidden; 
    background-color: #fffae1;
    position: fixed;
    width: 10%;    /* largeur par rap à la page */
    opacity: 0,9;   /* on voit legerement derriere */
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {           /* mon texte-autre chose */
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;     /* en haut + en bas = 18, a gauche =a    droite*/
}

#logo { 
      /* Ektor */
    font-family: 'Dancing script', cursive;
    font-size: x-large;
    font-weight: bold;
    float: left;
}
 /* Image principale que j'ai pas */
/* s'applique à toute la page */
/* body {
    width:10%;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}*/

#presentation {
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}
#presentation h2 {
    padding-top: 60px;
}
/* insertion des photos avec css*/
#premiere {
    background: url(./assets/premiere\ 19\ sept.jpeg);
}
#Lundi {
    background: url(./assets/Lundi\ 19\ sept\ 2022.jpeg);
}
#parquet {
    background: url(./assets/Sur\ le\ parquet\ 22\ sept.jpeg);
}
#video {
    background: url(./assets/video.mp4);
}
/* styliser les photos avec css*/
#presentation li {
    margin: 65px 100px 0 100px;    /* 65px en hauteur de marge, à droite 100, au centre 0, à gauche 100 */
    height: 226px;                /* hauteur 226*/
    width: 55%;
    min-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

#presentation p {
    height: 45px; /* hauteur */
    width: 235px; /* largeur */
    background-color: #01DF74;
    float: right;
    margin: 0px -250px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
}
#presentation #Lundi, #presentation #video {
    float: right;
}
#Lundi p, #video p {
    float: left;
    background-color: cyan;
    margin-left: -250px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
    border-radius: ;
}




footer{
    background: darkblue;
    color: #fffae1;
    padding: 20Px 0 10px 0;
    text-align: center;
}
form{
    margin: ;
}